@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Poppins:wght@400;500&display=swap');


.confirmation-screen {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    text-align: center;
    background: #fff; /* or any other suitable background */
  }
  
  .confirmation-screen .content {
    max-width: 100%;
    margin: auto;
  }

  .survey-header {
    display: flex; 
     justify-content:space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    max-width: 50%;
  }

  .logo img {
    width: 150px;
    height: 150px;
  }
  
  .illustration-logo img {
    width: 400px;
    height: 400px;
  }
  

  .thank-you-message {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #000; /* Dark text color */
    margin-bottom: 1em;
  }
  
  .done-button {
    padding: 1em;
    background-color: #FF8900; /* Green background */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.5em; /* Rounded corners */
    transition: background-color 0.3s ease;
  }
  
 
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .confirmation-screen{
      font-size: 1.5em;
    }
    .done-button {
      width: 80%; /* Full width on tablet */
    }
  }
  
  @media (max-width: 480px) {
    .confirmation-screen{
      font-size: 1em;
    }
    .illustration-logo img {
      width: 200px;
      height: 150px;
    }
    .content {
      padding: 0 1em; /* Add padding on small screens */
    }
  }
  