@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Poppins:wght@400;500&display=swap');


.question {
    margin-bottom: 1em; /* Space between questions */
    
  }
  
  .question-text {
    
    font-size: 1em;
    text-align:justify;
     /* Larger text for readability */
    margin-bottom: 1em;
  }
  
  .options-container {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
    /* Spacing between buttons */
  }
  
  .option-button {
    font-family: "Poppins", sans-serif ;
    font-weight: 500;
    padding: 1em;
    background-color: #F7F8FA; /* Light gray background */
    color: #000; /* Dark text for contrast */
    border: none; /* Light gray border */
    cursor: pointer;
    border-radius: 0.5em; /* Rounded corners */
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .option-button.selected {
    background-color: #515BDE; /* Blue background for selected */
    color: white;
  }
  
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    /* .option-button {
      flex: 1 0 46%; /* each button will take almost half the container width */
     
  }
  
  @media (max-width: 480px) {
    .options-container {
     
      gap: 10px;
        }
  
    .option-button {
      flex: 1 0 100%; /* each button will take full container width */
    }
  }
  