.survey-screen {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    width: 100%;
    margin: 1em;
  }

  .logo img{
      width: 150px;
      height: 100px;
  }
  .survey-header {
    display: flex; 
     justify-content:space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 80%;
  }

  .back-arrow {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 1em;
  
  }
  
  .skip-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background: none;
    border: none;
    color: #515BDE;
    cursor: pointer;
    font-size: 1em;

  }
  

  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .questions-container {
    max-width: 80%; /* Adjust the max-width to fit your design */
    margin: 1em;
  }
  
  .submit-button {
    padding: 1em 1.5em;
    background-color: #FF8900; /* Green background */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.5em; /* Rounded corners */
    transition: background-color 0.3s ease;
  }
  
 p{
font-size: 2em;
}
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .submit-button {
      width: 80%; /* Full width on tablet */
      padding:1em 0;
      margin-bottom: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .info {
      width:80%
    }
    .questions-container {
      width: 80%; /* Slightly smaller on mobile for padding */
    }
  }
  