
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Poppins:wght@400;500&display=swap');

body{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}

.hotel {
  background-image: url('./assets/221436888@2x.png');
  background-size: cover;
  background-position: center;
  height: 50%;  /* Container takes up 50% of body height */
  }

  
  

  .welcome-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
   

  }

  .welcome-form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 50%; /* This creates the elliptical curve */

  }
  .header .logo {
     /* adjust your logo size */
    padding: 0.5em;    
  }
  
  .form {
    background-color: #ffffff; /* Adjust as per your design */
    margin: 1em;
    flex-grow: 1;
    /* 
    max-width: 400px; /* Set a max width for the form */
    /* margin: auto; */ 
  }
  
  .input-group {
    position: relative;
    margin: 1em;
  }

  
  .form-label {
    position: absolute;
    left: 0.5em;
    top: -1.5em; /* Adjust as necessary to move the label above the input field */
    padding: 0.1em;
    color: #757575; /* Gray label text color, adjust as needed */
    font-size: 0.85rem; /* Smaller font size for the label */
  }

  .form-input {
    width: 90%;
    border: none;
    background-color: #F7F8FA;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em; /* Rounded corners */
    font-size: 1rem;
  }

  .name-input {
    background-color: #F7F8FA;
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 0.5em; /* Rounded corners */
    font-size: 1em;
    /* Add more styles */
  }
  
  .times {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
  }
  
  .time-option {
    font-family: "Poppins", sans-serif ;
    font-weight: 500;
    padding: 0.5em;
    border: none;
    margin: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    background-color: #F7F8FA;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .time-option.selected {
    background-color: #515BDE;
  }

  

  .proceed-button {
    padding: 1em 2em;
    background-color: #FF8900;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    /* Add more styles */
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .time-button {
      flex: 1 0 46%; /* each button will take almost half the container width */
      margin: 0.5em;
    }

    .hotel {
      background-image: url('./assets/221436888.png');
      height: 80%;  /* Container takes up 50% of body height */
      }
  }
  
  @media (max-width: 480px) {
    .time-selection {
      flex-direction: column;
    }

    .hotel {
      background-image: url('./assets/221436888.png');
      background-position: left top;
      }
  
    .time-button {
      flex: 1 0 100%; /* each button will take full container width */
      margin: 0.5em 0;
    }
  }
  